@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Regular.eot');
    src: url('Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
    /*url('Montserrat-Regular.woff') format('woff'),*/
    url('Montserrat-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-SemiBold.eot');
    src: url('Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
    /*url('Montserrat-SemiBold.woff') format('woff'),*/
    url('Montserrat-SemiBold.otf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-ExtraBold';
    src: url('Montserrat-ExtraBold.eot');
    src: url('Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
    /*url('Montserrat-ExtraBold.woff') format('woff'),*/
    url('Montserrat-ExtraBold.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Light';
    src: url('Montserrat-Light.eot');
    src: url('Montserrat-Light.eot?#iefix') format('embedded-opentype'),
    /*url('Montserrat-Light.woff') format('woff'),*/
    url('Montserrat-Light.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
